body {
  background-color: teal;
  /*just in case main img doesn't load*/

  /* background-image: url("../images/city_lights.gif"); */

  background-image: url("../images/lowkeyblinky.gif");

  /* background-image: url("../images/motorcycle.gif");
  background-size: cover;  */

  /* background-image: url("../images/80sgrid.gif");
  background-size: cover; */

  /* Note: downloaded and linked to local copy of images as opposed to web-hosted versions. Think my site may have been blocked from referencing their image too much */
}

h1 {
  color: white;
}

h4 {
  color: #479C48;
}

.centerText {
  text-align: center;
}

.btn {
  margin: 5px auto 5px auto;
}

.floatLeft {
  float: left;
}

.special {
  margin: 5px auto 5px auto;
}

#container {
  padding: 20px;
}

#entry {
  color: white;
  background: red;
}

#ratings {
  color: #479C48;
}

#ratingDiv {
  text-align: "center";
  font-size: "20px";
  width: "200px";
  display: "block";
}
